block vars

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title #{title}
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU", type="text/javascript")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js", type="text/javascript")
	body

		block main

		script(id="balloonTpl", type="text/x-handlebars-template").
			<div class="review-item">
				<div class="review-item__name">{{name}}</div>
				<div class="review-item__place">{{place}}</div>
				<div class="review-item__date">{{date}}</div>
				<div class="review-item__message">{{message}}</div>
			</div>

		script(id="reviewsTpl", type="text/x-handlebars-template").
			{{#each list}}
				<div class="review-item">
					<div class="review-item__name">{{name}}</div>
					<div class="review-item__place">{{place}}</div>
					<div class="review-item__date">{{date}}</div>
					<div class="review-item__message">{{message}}</div>
				</div>
			{{/each}}